html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: Tahoma;
}
body {
    background-color: #bd9a75;
    background-image: url("LoginBackground.svg");
    background-repeat: no-repeat;
    background-size: 140% 140%;
    background-position: 80% 30px;
    background-attachment: fixed;
    
}
#loginDiv {
    background: #303669;
    width: 240px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.4em;
}
#usernameInput {
    color: #48509e;
    border: 0;
    padding: 6px;
    font-size: 0.9em;
    height: 1em;
    width: 94%;
    margin-bottom: 1.4em;
    border-radius: 3px;
}
#passwordInput {
    color: #48509e;
    border: 0;
    padding: 6px;
    font-size: 0.9em;
    height: 1em;
    width: 94%;
    margin-bottom: 1.4em;
    border-radius: 3px;
}
#buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#submitButton {
    background: #181b34;
    color: white;
    border: 0;
    padding: 8px;
    width: 90px;
    border-radius: 3px;
    margin-right: 1%;
    transition: all .2s;
}
#buttonText {
    color: white;
    text-decoration: none;
}
#signUpButton {
    background: #181b34;
    color: white;
    border: 0;
    padding: 8px;
    width: 90px;
    border-radius: 3px;
    transition: all .2s;
}
#submitButton:hover, #signUpButton:hover {
    background: #080911;
}
#forgotPassword {
    font-size: 0.8em;
    color: white;
    text-decoration: none;
    margin: 1em;
    align-self: right;
}